.content {
  flex: 1;
  padding: 2rem;
  padding-top: calc(var(--navbar-height) + 2rem);
  width: 80%;
  margin: auto;
}

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}