.manager-layout {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: 992px) {
  .manager-layout {
    grid-template-columns: 1fr 1fr;
    align-items: start;
  }
}